.myitem-one-list {
  width: 500px;
}
.myitem-one-list /deep/ .ng-star-inserted {
  text-align: center;
}
.fileinput-button {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.fileinput-button input {
  position: absolute;
  right: 0px;
  top: -20px;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 50px;
}
