.mybox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
.mybox .left-box,
.mybox .right-box {
  width: 50%;
  min-width: 350px;
  clear: both;
}
.mybox .myselect {
  width: 200px;
}
.myBlack {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.myBlack .myBlackBox {
  width: 600px;
  height: 350px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -150px 0 0 -200px;
}
textarea {
  resize: none;
}
.fileinput-button {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.fileinput-button input {
  position: absolute;
  right: 0px;
  top: 0px;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 30px;
}
